@font-face {
    font-family: "04b03";
    src: url("/UI/04b03.ttf");
}
* {
    font-family: "04b03";
    cursor: url("/UI/ICONS/cursor.png"), auto;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainShopContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 500px;
    background-color: #ecd4ac;
    z-index: 10;
    border: 7px solid #c28569;
    transition: top 0.5s ease;
}

.mainShopContainer.up {
    top: 50%;
}

.mainShopContainer.down {
    top: 150%;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ecd4ac;
    font-family: "04b03";
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 7px solid #c28569;
    /* z-index:; */
}

.shopUiContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #ecd4ac;
    gap: 10px;
    margin-top: 25px;
    z-index: 11;
}

.scrollItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 90%;
    background-color: #ecd4ac;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    margin-left: 10px;
    border: 5px solid #c28569;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.1em;
}

.objViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 90%;
    background-color: #ecd4ac;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    border: 5px solid #c28569;
    margin-right: 10px;
}

.ObjHeaderContainer {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.costContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    height: 30px;
    padding-left: 5px;
}

.gold {
    width: 30px;
    height: 30px;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
}

.gunPreviewImg {
    width: 100%;
    height: 50%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.itemDescContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.1em;
    padding-left: 10px;
    gap: 5px;
}

.iconInd {
    width: 25px;
    height: 25px;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.gunStatsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.gunStat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20%;
    background-color: #ecd4ac;
    font-size: 1.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 5px;
}

.btnContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    font-size: 1.1em;
    cursor: pointer;
    transition: border 0.3s;
}

.btnContainer .costContainer {
    border: none;
}

.buyBtn:hover {
    border: 5px dashed #c28569;
    transition: border 0.3s;
}

.moneyIndContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    font-size: 1.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    z-index: 200;
    transition: top 0.5s ease;
    top: 8px;
}

.moneyIndContainer.up {
    top: 8px;
}

.moneyIndContainer.down {
    top: -50px;
}
