* {
    overflow: hidden;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    cursor: url("/Tile-Game/UI/ICONS/cursor.png"), auto;
    font-family: "04b03";
}

@font-face {
    font-family: "04b03";
    src: url("/Tile-Game/UI/04b03.ttf");
}

#interactableUI {
    position: absolute;
    top: 120%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: #c28569;
    border: 7px solid #ecd4ac;
    font-family: "04b03";
    font-size: 2.5em;
    transform: translate(-50%, -50%);
    padding: 3px 27px 3px 27px;
    transition:
        top 0.3s ease,
        opacity 0.3s ease;
    opacity: 0;
    z-index: 100;
}

/* #bottomBar {
    transition: transform 0.1s;
}

#bottomBar:hover {
    transform: scale(1.1);
    transition: transform 0.1s;
}

canvas {
    pointer-events: none;
} */

/* DERIVED */
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ui {
    z-index: 5;
}

.mainShopContainer {
    /* visibility: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 500px;
    background-color: #ecd4ac;
    z-index: 10;
    border: 7px solid #c28569;
    transition: top 0.5s ease;
    pointer-events: none;
}

.mainShopContainer.up {
    top: 50%;
}

.mainShopContainer.down {
    top: 150%;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ecd4ac;
    font-family: "04b03";
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 7px solid #c28569;
    /* z-index:; */
    pointer-events: none;
}

.shopUiContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #ecd4ac;
    gap: 10px;
    margin-top: 25px;
    z-index: 11;
}

.scrollItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 90%;
    background-color: #ecd4ac;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    margin-left: 10px;
    border: 5px solid #c28569;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.1em;
}

.objViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 90%;
    background-color: #ecd4ac;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10px;
    border: 5px solid #c28569;
    margin-right: 10px;
}

.ObjHeaderContainer {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.costContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    height: 30px;
    padding-left: 5px;
}

.gold {
    width: 30px;
    height: 30px;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35%;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
}

.gunPreviewImg {
    width: 100%;
    height: 50%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.itemDescContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.1em;
    padding-left: 10px;
    gap: 5px;
}

.iconInd {
    width: 25px;
    height: 25px;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.gunStatsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    pointer-events: none;
}

.gunStat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20%;
    background-color: #ecd4ac;
    font-size: 1.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    gap: 5px;
}

.btnContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    font-size: 1.1em;
    cursor: pointer;
    transition: border 0.3s;
}

.btnContainer .costContainer {
    border: none;
}

.buyBtn:hover {
    border: 5px dashed #c28569;
    transition: border 0.3s;
}

.moneyIndContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 30px;
    background-color: #ecd4ac;
    border: 5px solid #c28569;
    font-size: 1.1em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    z-index: 200;
    transition: top 0.5s ease;
    top: 8px;
}

.moneyIndContainer.up {
    top: 8px;
}

.moneyIndContainer.down {
    top: -50px;
}

/* DERIVED */
.currWeaponIndicatorContainer {
    /* CSS IS A DUMPSTER FIRE HOTTER THAN THE CORE OF THE SUN,*/
    /* IT HAS MORE IN COMMON WITH WRANGLING WITH A KID THAN IT HAS WITH PROGRAMMING */
    position: relative;
    width: 100%;
    max-width: 250px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "04b03";
    z-index: 200;
}
.currWeaponTitleContainer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.seperatorBar {
    position: relative;
    width: 100%;
    height: 0.3em;
    background-color: black;
}

.ammoContainer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.reloadStatusContainer {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.reloadStatusIndicator {
    position: relative;
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    z-index: 202;
}

.reloadStatusBG {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 1;
    /* border: 1px solid black; */
}

.barContainer {
    position: absolute;
    top: 100%;
    left: 10px;
    transform: translate(0, -100%);
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 301;
    gap: 20px;
}
.healthBar {
    gap: 5px;
}
.bar {
    position: relative;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(192, 192, 192, 0.5); */
    z-index: 1;
    gap: 5px;
}
.healthBarBG {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 1;
}

.healthBarBar {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.titleContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-family: "04b03";
    font-size: 2.5em;
    z-index: 401;
}

.header {
    font-size: 1.5em;
}

.timer {
    font-size: 0.75em;
}

.mainPage1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: "04b03";
    font-size: 5em;
    z-index: 500;
    background-color: white;
}

.start {
    cursor: pointer;
    font-size: 0.5em;
    padding: 10px;
    border: 5px solid black;
    background-color: white;
    transition: background-color 0.3s;
}

.mainPage2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: "04b03";
    font-size: 5em;
    z-index: 499;
    background-color: white;
}
.mainPage3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: "04b03";
    font-size: 5em;
    z-index: -1;
    background-color: white;
    visibility: hidden;
}
