@font-face {
    font-family: "04b03";
    src: url("/UI/04b03.ttf");
}

.healthBar {
    position: absolute;
    top: 100%;
    left: 10px;
    transform: translate(0, -190%);
    width: 300px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5em;
    font-weight: bold;
    /* z-index: 1 */
}
.bar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(192, 192, 192, 0.5); */
    z-index: 1;
    gap: 5px;
}
.healthBarBG {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 1;
}

.healthBarBar {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}
/*
.currWeaponIndicatorContainer {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    max-width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-family: "04b03";
}
.currWeaponTitleContainer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.seperatorBar {
    width: 100%;
    height: 0.3em;
    background-color: black;
}

.currWeaponIndicatorContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ammoContainer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.reloadStatusContainer {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.reloadStatusIndicator {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    z-index: 2;
}

.reloadStatusBG {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgba(192, 192, 192, 0.5);
    z-index: 1;
    /* border: 1px solid black; */
/* } */
